EVOLUTION_DOMAIN=evolution.pay-flow.shop
EVOLUTION_API_KEY=change-me-generate-a-long-random-key

# Use a managed Postgres URL, preferably Neon.
# Example:
# postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
EVOLUTION_DATABASE_URL=postgresql://user:password@host/neondb?sslmode=require

CONFIG_SESSION_PHONE_CLIENT=PayFlow
CONFIG_SESSION_PHONE_NAME=Chrome
QRCODE_LIMIT=60
QRCODE_COLOR=#001A42

LOG_LEVEL=ERROR,WARN,INFO
