EVOLUTION_DOMAIN=evolution.pay-flow.shop
EVOLUTION_API_KEY=change-me-generate-a-long-random-key

EVOLUTION_POSTGRES_DB=evolution
EVOLUTION_POSTGRES_USER=evolution
EVOLUTION_POSTGRES_PASSWORD=change-me-generate-a-long-random-password

CONFIG_SESSION_PHONE_CLIENT=PayFlow
CONFIG_SESSION_PHONE_NAME=Chrome
QRCODE_LIMIT=60
QRCODE_COLOR=#001A42

LOG_LEVEL=ERROR,WARN,INFO
